@import './app/utilities/variables.scss';

body{
    font-family: "Helvetica", Sans-Serif;
    background-color: $white;
    color: $gray;
    box-sizing: border-box;
    height: 100dvh;
    margin: 0px;
}